#eclipse and Intellij project file
*.iml
*.eclipse
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
.idea
*.obj
*.jar
*.exe
*.mp3
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.info
[Ll]og/
[Dd]ebug*/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
![Tt]est[Rr]esult*.xsd
![Tt]est[Rr]esult*.java

.svn*/
*.idl
*.iws
*.sdf
*.opensdf
*.class
*.ipch
*.orig
midloutput*/
target*/
*.sxs.manifest
dotNETClient/Client/Interops*/
ClientServer/Binaries*/
*.ipch
*.prefs
*.project
*.classpath
version.info
properties.txt
repository*/
.repository*/
QCWebApp/defaultroot/qcsense/birt/logs*/
ali-artifact-wrapper/ali-server-war-wrapper/overlays
horizon-webapp/overlays
horizon-webapp/war
webapp/agm-webapp-js/node_modules
webapp/agm-webapp-js/src/main/webui/alm/apm/docs
main-distribution/overlays
*.gwt-log
siteadmin.properties
siteadmin.xml
GitUtils*/
SharpPlink-Win32.svnExe
SharpSvn-DB44-20-Win32.dll
SharpSvn-SASL21-23-Win32.dll
SharpSvn.dll
#Begin Externals
sync-webui/node_modules*
#End Externals
/sys$command

.metadata
.settings
overlays